body{
    background-color: burlywood ;
    
    text-align: center;
}
h2{
    text-decoration: underline;
}
h1{
    text-shadow:0px 2px silver;
    border-radius: 60px 40px;
    background-color: greenyellow;
    padding: 50px;
    font-size: 50px;
   
}
h3{
    font-style:italic;
}
hr{
    border-top: 20px dashed paleturquoise;
}
ul{
    font-size: 20px;
}
h4{
    text-decoration:underline blueviolet;
    text-decoration-style: dotted;
}
.Skills{
    background-color: ivory;
}
.Hobby{
    background-color: lavender;
}
.Interests{
    background-color: lemonchiffon;
}
#button {
    margin:auto;
    width: 6em;
    border: 3px solid green;
    background: #ffe;
    border-radius: 5px;
}
a {
    
    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}
a:hover {
    color: red;
    background: #eff;
    display: block;
    
}
.grid-container {
    
    display: grid;
    grid-template: 200px / auto auto auto auto auto auto auto;
    grid-gap: 20px;
    background-color: #2196F3;
    padding: 20px;
  }
  
  .grid-container > div {
    
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
  }
  .grid-container2 {
    
    display: grid;
    grid-template: 200px / auto auto auto;
    grid-gap: 20px;
    background-color: #2196F3;
    padding: 20px;
  }
  
  .grid-container2 > div {
    
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    
  }
